<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover ">
      <tr>
        <th><a (click)="sortCoins('rank')">Rank</a></th>
        <th><a (click)="sortCoins('name')">Coin</a></th>
        <th><a (click)="sortCoins('currentValue')">Price</a></th>
        <th><a (click)="sortCoins('change24h')">Change(24h)</a></th>
        <th>Operation</th>
      </tr>
      <tr
        *ngFor="let coin of coins"
        app-coin
        [coin]="coin"
        [ngClass]="{ holded: holdedCoins.includes(coin) }"
        [isHolded]="holdedCoins.includes(coin)"
      ></tr>
    </table>
  </div>
</div>
